*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* propiedades para imagen de fondo */
body{
    background-color: rgb(255, 255, 255);
    /* aca metemos la tipografia */
    font-family: 'Playfair Display', serif ;
    font-size: 16px;
}
body, html {
    overflow-x: hidden;
}
h2{
    font-size: 2.2rem;
    font-weight: 600;
}
h3{
    font-size: 2rem;
    font-weight: 200;
    color: rgb(52, 52, 52);
}
h4{
    font-size: 1.5rem;
    font-weight:200;
    color: rgb(52, 52, 52);
}
p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(52, 52, 52);
}
button{
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 400;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 700px ){

    .btn{
        background-color: #87adbc;
        border-radius: 0 20px  0 20px;
        width: 150px;
        height: 50px;
        border: none;
        transition: 0.5s ease-in-out;
    }
    .btn:focus{
        background-color: #627e89;
    }
    .mobile{
        display: grid;
    }
    .container{
        height: 93vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .recuadro{
        padding: 0.5rem;
        height: 100%;
        width: 100%;
        grid-column: 1/5;
        grid-row: 1/5;
    }
    .letras{
        height: 100%;
        width: 100%;
        padding: 1.2rem;
        margin-top: 8rem;
        grid-column: 1/5;
        grid-row: 1/4;
    }
    .recuadroDer{
        grid-column: 4/5;
        grid-row: 1/1;
    }
    .estrella{
        width: 90%;
        padding-top: 3rem;
        padding-left: 2rem;
        grid-column: 4/5;
        grid-row: 1/1;
    }
    /* contenedor 2 */
    .container-2{
        height: 70vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-bottom: 1rem;
    }
    .estrellaContenedor2{
        grid-row: 1/1;
        grid-column: 4/5;
        width: 100%;
        transform: rotate(180deg);
    }
    .tituloContenedor2{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .contenido{
        display: flex;
        flex-direction: row;
        height: 100%;
        grid-column: 1/5;
        grid-row: 2/4 ;
        gap:1.5rem;
        padding-right: 1.4rem;
        padding-top: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .contenido img{
        height: 100%;
    }
    .fecha{
        text-align: center;
    }
    .hora{
        text-align: center;
    }
    .flechahorizontalC2{
        grid-row: 4/5;
        grid-column: 1/3;
        width: 100%;
        margin-top: 2rem;
        transform: rotate(180deg);
    }
    /* seccion 3 */
    .container-3{
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        text-align: center;
        margin-bottom: 3rem;
    }
    .marcoTituloS3{
        grid-column: 1/5;
        grid-row: 1/3;
    }
    .tituloS3{
        margin-top: 3rem;
        grid-column: 1/5;
        grid-row: 1/3;
    }
    .contenidoS3{
        grid-column: 1/5;
        grid-row: 3/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    /* seccion 4 */
    .container-4{
        height: 25vh;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .tituloS4{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .dress .code{
        margin: 0;
    }
    .tituloS4 .code{
        padding-left: 5rem;
    }
    .contenidoS4{
        text-align: right;
        grid-row: 3/4;
        grid-column: 3/5;
    }
    .contenidoS4 h3{
        padding: 0.5rem;
    }
    /* seccion 5 */
    .container-5{
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        margin-bottom: 2rem;
    }
    .tituloS5{
        grid-column: 1/5;
        grid-row: 1/2;
    }
    /* estilus del carrucel  */
    .carrucel{
        grid-column: 1/5;
        grid-row: 2/5;
        height: 100%;
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    .carrucel-inner{
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }
    .carrucel-inner img{
        width: 100%;
    }
    /* estilos del boton */
    .btnCarrucel{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #87adbc;
        border: none;
        color: white;
        font-size: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;
    }
    .prev {
    left: 10px;
    }
    .next {
    right: 10px;
    }
    /* seccion 6  */
    .container-6{
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: repeat(4 ,1fr);
        margin-bottom: 1rem;
    }
    .contenidoS6{
        display: flex;
        grid-column: 1/5;
        grid-row: 1/5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 2rem;
        
    }
    .btnS6{
        width: 80%;
    }
    .rectangulosS6{
        grid-column: 1/2;
        grid-row: 2/5;
        padding-left: 0.5rem;
    }
    /* seccion 7 */
    .container-7{
        height: 80vh;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .imagenPlaylist{
        grid-column: 1/5;
        grid-row: 1/3;
        height: 85%;
        width:100%;
    }
    .tituloS7{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        grid-column: 2/4;
        grid-row: 1/3;
    }
    
    .contenidoS7{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        grid-column: 1/5;
        grid-row: 3/4;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .parrafoS7{
        text-align: center;
        padding-top: 2rem;
        margin-right: 1rem;
        margin-left: 2rem;
        grid-row: 1/1;
        grid-column: 1/5;
    }
    .parrafo1{
        text-align: left;
        padding-left: 1rem;
        padding-right: 4rem;
    }
    .parrafo2{
        text-align: right;
        padding-right: 1rem;
        padding-left: 4rem;
    }
    .btnPlaylist{
        width: 100%;
    }
    /* seccion 8 */
    .container-8{
        height: 30vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .contenidoS8{
        padding-left: 1rem;
        display: flex;
        grid-column: 1/5;
        grid-row: 1/4;
        flex-direction: row;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }
    .contenidoS8 img{
        height: 100%;
    }
    .cbu{
        display:flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding-right: 1rem;
    }
    .cbu p{
        font-size: 1rem;
    }
    /* propiedades del popup */
    .popup{
        position: fixed;
        top: 30%;
        left: 15%;
        width: 70%;
        height: 30%;
        background-color:#87adbc;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.5s ease;
        border-radius: 15%;
    }
    .contenido-popup{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        animation: slideIn 0.5 ease;
    }
    .popup.mostrar{
        opacity: 1;
        pointer-events: all;
    }
    .popup.esconder{
        opacity: 0;
    }
    .btnPopUp{
        background-color: white;
    }
    /* animacion del popup */
    @keyframes slideIn {
        from{
            transform: translateY(-50px);
        }
        to{
            transform: translateY(0);
        }
    }
    @keyframes slideOut{
        from{
            transform: translateY(0);
            transform: translate(-50px);
        }
    }
    .hidden{
        display: none;
    }
}